{% load static %}
<link rel="stylesheet" href="{% static 'authentication/css/../../../homepage/static/css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
<div id="login-box">
    <div class="left">
        <h1>Увійти</h1>
        <form id='authenticationform'>
            <p class="errormessage" hidden id='dataerror'></p>
            <input type="text" name="email" placeholder="Пошта"/>
            <p class="errormessage" hidden id="passworderror"></p>
            <input type="password" name="password" placeholder="Пароль"/>
            <input type="password" name="re_password" placeholder="Повторити пароль"/>
        </form>
        <input type="submit" name="signup_submit" onclick="post_request_to_authenticate_user()" value="Увійти"/>
        <br>
        <a href="/auth/reset" class="forgot">Забули пароль?</a>
        <hr>
        <a href="/register" class="">Ще не зареєстровані?</a>
    </div>

    <div class="right">
        <h1>Соціальні мережі</h1>
        <button class="social-signin facebook">Facebook</button>
        <button class="social-signin twitter">Twitter</button>
        <button class="social-signin google">Google</button>
    </div>
    <div class="or">Або</div>
</div>
<script src="{% static '/authentication/js/authentication.js' %}"></script>
</body>
</html>