{% load static %}
<link rel="stylesheet" href="{% static 'authentication/css/confirm.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="counter">
    <div class="nums">
        <span class="in">3</span>
        <span>2</span>
        <span>1</span>
        <span>0</span>
    </div>
    <h4>Ви успішно активували акаунт.<br>Ви повернетесь на головну сторінку</h4>
</div>
</body>
<script src="{% static '/authentication/js/confirmation.js' %}"></script>

</html>