{% load static %}
<link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оновити пароль</title>
</head>
<body>
<div id="login-box">
    <div class="center">
        <h1>Оновити пароль</h1>
        <form id='resetpass'>
            <input type="text" name="email" placeholder="Пошта"/>
        </form>
        <input type="submit" name="signup_submit" onclick="post_request_to_reset_password()" value="Оновити"/>
    </div>
</div>
<script src="{% static '/authentication/js/reset_password.js' %}"></script>
</body>
</html>