{% load static %}
<link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оновити пароль</title>
</head>
<body>
<div id="login-box">
    <div class="center">
        <h1>Оновити пароль</h1>
        <form id='setnewpassword'>
            <p class="errormessage" id="newpassworderror" hidden></p>
            <input type="password" name="new_password" placeholder="Пароль"/>
            <input type="password" name="re_new_password" placeholder="Повторити пароль"/>
        </form>
        <input type="submit" name="signup_submit" onclick="post_request_to_set_new_password()" value="Оновити"/>
    </div>
</div>
<script src="{% static '/authentication/js/set_new_password.js' %}"></script>
</body>
</html>