{% load static %}
<link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
<div id="login-box">
    <div class="left">
        <h1>Зареєструватися</h1>
        <form id="registration">
            <input type="text" name="username" placeholder="Ім'я"/>
            <p class='errormessage' id='emailerror' hidden></p>
            <input type="text" name="email" placeholder="Пошта"/>
            <p class='errormessage' id='passworderror' hidden></p>
            <input type="password" name="password" placeholder="Пароль"/>
            <input type="password" name="re_password" placeholder="Повторити пароль"/>
        </form>
        <input type="submit" onclick="post_request_to_create_user()" name="signup_submit" value="Зареєструватися"/>
        <hr>
        <a href="/auth" class="">Увійти в аккаунт</a>
    </div>

    <div class="right">
        <h1>Соціальні мережі</h1>
        <button class="social-signin facebook">Facebook</button>
        <button class="social-signin twitter">Twitter</button>
        <button class="social-signin google">Google</button>
    </div>
    <div class="or">Або</div>
</div>
<script src="{% static 'register/js/registration.js' %}"></script>
</body>
</html>