
*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(-45deg, yellowgreen, lightblue);
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 60%;
    height: 80%;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.center {
    position: absolute;
    padding: 5% 5% 5% 5%;
    width: 100%;
    height: 30%;
    background-size: cover;
    border-radius: 0 2px 2px 0;
}

.left {
    position: absolute;
    box-sizing: border-box;
    padding: 2% 5% 2% 5%;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

h1 {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: black;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 95%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

.errormessage {
    background: lightcoral;
    color: black;
    font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
    margin-top: 3%;
    width: 50%;
    height: 10%;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.or {
    position: absolute;
    top: 180px;
    left: 48%;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 2% 5% 2% 5%;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(-45deg, oldlace, lightskyblue);
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    width: 100%;
    height: 10%;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: center;
}

button.forgot {
    margin-bottom: 1%;
    width: 100%;
    height: 10%;
    border: none;
    background: none;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: left;
}

a {
    width: 100%;
    height: 3%;
    color: black;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
    text-align: left;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

button.social-signin:hover,
button.social-signin:focus,
button.forgot:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}