* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    background: bisque;
}

.container {
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 5%;
}

.content-section {
    border: dashed 5px hsla(0, 95%, 35%, 1);
    border-radius: 15%;
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
    background-color: aliceblue;
}

.image-section img {
    width: 100%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.inner-container {
    width: 100%;
    display: inline-block;
    margin: auto;
    padding-top: 5%;

}
.aboutUsImage{
    border: dashed 5px hsla(0, 95%, 35%, 1);
    border-radius: 15%;
    float: left;
    display: inline-block;
    width: 20%;
    background: springgreen;
    padding-top: 100px;
    margin-right: 2%;
    margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        float: none;
        width: 100%;

    }

    .image-section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }

    .content-section .content .button {
        text-align: center;
    }

    .content-section .content .button a {
        padding: 9px 30px;
    }
    .aboutUsImage{
        border: dashed 5px hsla(0, 95%, 35%, 1);
        border-radius: 15%;
        float: left;
        display: inline-block;
        width: 48%;
        background: springgreen;
        padding-top: 100px;
        margin-right: 2%;
        margin-bottom: 2%;
    }

}
